<div class="container" style="padding: 0%;">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-12">
      <!-- ngx-scanner-qrcode -->
      <ngx-scanner-qrcode #action="scanner" (data)="output = $event" 
        (error)="onError($event)"></ngx-scanner-qrcode>
    
      <!-- data  -->
      <p class="data">{{ output }}</p>
    
      <!-- Loading -->
      <p *ngIf="action.isLoading" class="text-light text-center">⌛ Loading...</p>
    
      <!-- toggleCamera -->
      <div class="text-center">
        <button (click)="action.toggleCamera()" class="btn" 
          [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" 
          [disabled]="action.isLoading">
          <img *ngIf="!action.isStart" 
            src="https://img.icons8.com/ios/50/000000/no-camera--v2.png" 
            width="30px"/>
          <img *ngIf="action.isStart" 
            src="https://img.icons8.com/ios/50/000000/no-camera--v1.png"
            width="30px"/>
        </button>
      </div>
    </div>
  </div>
</div>
